/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* debug */
.debug {
    border: 1px solid black;
    min-height: 100px;
}

body {
    font-family: Helvetica, sans-serif, Arial;
}

/* start header */
header {
    background-color: #3466db;
}

/* start main */
main {
    background-color: #26f3379c;  /* da cambiare in white */
}

/* start footer */
footer {
    background-color: #282b2e;
}

/* start header content*/
.container {
    max-width: 1170px;
    margin: 0 auto;
}

/* nav nel header */
.container img {
    height: 35px;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: white;
    font-family: 'Squada One', cursive;
}

li a:hover {
    color: white;
    text-decoration: underline;
}

li a::after {
    display: inline-block;
}

/* button */
.pulsanti {
    background-color: white;
    color: black;
    font-size: 14px;
    border-radius: 40px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.pulsanti:hover {
    color: #3466db;;
    box-shadow: 0px 2px 10px 1px black;
}

.flexbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

/* header nav*/
header nav.container {
    padding: 15px 0;
}

header nav ul{
    min-width: 450px;
}